---
import { getLastPathOfURL } from "@src/utils/getLastPathOfURL";
import { AccentButton, GhostButton } from "../Interactive/Buttons";
import { BLOG_POST_SOURCE, SOURCE_LINK } from "../../../config";

interface Props {
  url: string | undefined;
}

const { url } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl font-semibold">Found a mistake?</h1>
    <p>
      If you find any mistakes or think that you can bring any improvements please consider
      contributing to the open source repository!
    </p>
  </div>

  <div class="flex flex-wrap gap-4 items-center">
    {
      url && getLastPathOfURL(url) ? (
        <a
          aria-labelledby="visitPageOnGithubButton"
          href={`${BLOG_POST_SOURCE}/${getLastPathOfURL(url)}`}
        >
          <AccentButton
            id="visitPageOnGithubButton"
            aria-label="Visit this page on Github"
            role="link"
          >
            Visit this page on GitHub!
          </AccentButton>
        </a>
      ) : (
        <p>Error: There was a problem getting the URL for this page!</p>
      )
    }
    <a aria-labelledby="visitWebsiteSource" href={SOURCE_LINK}>
      <GhostButton
        id="visitWebsiteSource"
        role="link"
        aria-label="Visit the source code of this whole website"
      >
        Visit website source code
      </GhostButton>
    </a>
  </div>
</div>
