---
import { AccentButton, GhostButton } from "../Interactive/Buttons";
import { BLOG_POST_SOURCE, SOURCE_LINK } from "../../../config";

interface Props {
  url: string | undefined;
}

const { url } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl font-semibold">Found a mistake?</h1>
    <p>
      If you find any mistakes or think that you can bring any improvements
      please consider contributing to the open source repository!
    </p>
  </div>

  <div class="flex flex-wrap gap-4 items-center">
    {
      url ? (
        <a href={`${BLOG_POST_SOURCE}${url}`}>
          <AccentButton>Visit this page on github!</AccentButton>
        </a>
      ) : (
        <p>There was a problem getting the url for this page!</p>
      )
    }
    <a href={SOURCE_LINK}>
      <GhostButton>Visit website source code</GhostButton>
    </a>
  </div>
</div>
