---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import QuickContact from "../components/QuickContact.astro";

// Page Sections
import Hero from "../components/Home/Hero.astro";
import MyProjects from "../components/Home/MyProjects.astro";
import Contact from "../components/Home/Contact.astro";
---

<Layout>
  <QuickContact />
  <main>
    <Hero />
    <MyProjects />
    <Contact />
  </main>
  <Footer />
</Layout>
