---
import Project from "./Project.astro";
---

<section id="my_work" class="h-auto mt-20 sectionPadding">
  <div class="w-full flex md:flex-col justify-between items-end gap-2">
    <h1 class="text-4xl font-semibold tracking-normal leading-[1em]">
      Here are a few of my projects
    </h1>
    <div class="flex-grow h-[1px] bg-text-secondary md:hidden"></div>
    <a
      href="#contact_me"
      class="text-base md:mt-4 text-text-secondary hover:text-text-primary font-bold hover:underline decoration-2 leading-[1em]"
      >Contact me</a
    >
  </div>
  <div class="mt-20 flex flex-col gap-36">
    <Project
      idx={1}
      description="This website is a demo e-commerce store with a full tRPC backend and PostgreSQL database. This website also includes a full admin dashboard with admin authentication, account management, product management, order management and much more."
      name="Show Store"
      technologiesUsed={["Tailwind CSS", "tRPC", "Next.js", "React.Js", "Node.Js", "PostgreSQL"]}
      sourceHREFs={[
        {
          href: "https://github.com/Meriegg/show-store-client/tree/next13-show-store",
          text: "Source Code",
        },
      ]}
      websiteHREF="https://show-store.vercel.app"
      previewImgAlt="PREVIEW IMAGE"
      previewImgSrc="projectImgs/SHOW_STORE_UI_SHOT.png"
    />
    <Project
      idx={2}
      name="Notr"
      description="An open source note manager you can host yourself. This project allows you to create or import all of your text files and easily search through them, saving you time from manually searching through your files finding what you need."
      technologiesUsed={["Next.Js", "React.Js", "Mantine", "tRPC"]}
      sourceHREFs={[
        {
          href: "https://github.com/Meriegg/portfolio-terminal",
          text: "Source Code",
        },
      ]}
      previewImgAlt="PREVIEW IMAGE"
      previewImgSrc="projectImgs/NotrUI_Shot.png"
    />
    <Project
      idx={3}
      description="This is a Terminal-like portfolio website created by me with Next.Js and Scss. You can start by typing `help`, for more info visit the github repo."
      name="Terminal Portfolio"
      technologiesUsed={["Next.Js", "React.Js", "Sass", "Typescript"]}
      sourceHREFs={[
        {
          href: "https://github.com/Meriegg/portfolio-terminal",
          text: "Source Code",
        },
      ]}
      websiteHREF="https://mariodev-terminal.vercel.app/"
      previewImgAlt="PREVIEW IMAGE"
      previewImgSrc="projectImgs/TERMINAL_UI_SHOT.png"
    />
    <!-- <Project
      idx={3}
      description="This app is more focused on the authentication functionality rather than the actual aplication. I made this app to test out the T3 Stack and play around with Next Auth's authentication and authorization functionality."
      name="Notes App (Made with T3 Stack)"
      technologiesUsed={[
        "Next.Js",
        "React.Js",
        "Tailwind",
        "Typescript",
        "tRPC",
        "Next Auth",
        "Prisma",
        "PostgreSQL",
      ]}
      sourceHREFs={[
        {
          href: "https://github.com/Meriegg/t3-notes-app",
          text: "Source Code",
        },
      ]}
      websiteHREF="https://t3-notes-app.vercel.app/"
      previewImgAlt="PREVIEW IMAGE"
      previewImgSrc="projectImgs/T3-NOTES-APP-UI-SHOT.png"
    /> -->
  </div>
</section>
