---
import Menu from "./Menu";
import HeaderLink from "./HeaderLink.astro";
import Terminal from "../../components/Terminal/Terminal";
---

<header
  class="fixed top-0 w-full flex justify-between z-20 items-center py-6 sectionPadding bg-gradient-to-b from-main-bg to-transparent"
  style="backdrop-filter: blur(10px);"
>
  <div class="flex items-center gap-4">
    <Menu client:idle />
    <a href="/">
      <div class="flex items-center flex-wrap">
        <img src="/Logos/Logo_Dark.svg" class="w-12 h-12" alt="" />
        <h1 class="text-2xl sm:hidden">
          Mario<span class="text-green-accent font-semibold">Dev</span>
        </h1>
      </div>
    </a>
    <div class="flex items-center gap-4 sm:hidden">
      <HeaderLink href="/" text="Home" />
      <HeaderLink href="/blog" text="My Blog" />
    </div>
  </div>

  <Terminal client:idle />
</header>
