---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<p
  class="px-[10px] py-[5px] text-dark-contrast font-bold dark:bg-green-accent bg-lightMode-green-accent rounded-[5px] text-xs"
>
  {text}
</p>
