<header
  class="fixed top-0 w-full flex justify-between items-center py-6 sectionPadding bg-gradient-to-b from-main-bg to-transparent"
>
  <h1 class="text-2xl">
    Mario<span class="text-green-accent font-semibold">Dev</span>
  </h1>
  <p>terminal</p>
</header>
