---
import "../styles/globals.scss";
import Header from "../components/Header/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import PortalContainers from "../components/PortalContainers.astro";
import CursorBubble from "@src/components/Effects/CursorBubble.astro";
import { GoogleAnalyticsAlert } from "@src/components/Other/GoogleAnalyticsAlert";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title || "Mariodev | Developer | Designer"}
      description={description ||
        "Hello there! I'm Mario, a 15 year old full stack developer based in Romania."}
    />
    <meta charset="UTF-8" /><meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    /><meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="thumbnail"
      content="http://mariodev.vercel.app/website-preview.png"
    />
  </head>

  <body class="overflow-x-hidden antialiased">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDCXDLTXBN"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QDCXDLTXBN");
    </script>
    <CursorBubble />
    <Header />
    <slot />
    <PortalContainers />
    <GoogleAnalyticsAlert client:idle />
  </body>
</html>
